<!DOCTYPE html>
<html>
  <head>
    <title>AapInfusionsoft</title>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://stackoverflow.com/questions/41645309/mysql-error-access-denied-for-user-rootlocalhost">
    <meta property="og:site_name" content="Stack Overflow">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="https://cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon@2.png?v=73d79a89bded">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:domain" content="stackoverflow.com">
    <meta name="twitter:title" property="og:title" itemprop="title name" content="MySQL Error: : 'Access denied for user 'root'@'localhost'">
    <meta name="twitter:description" property="og:description" itemprop="description" content="twst">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
